@media (min-width: 767px){
	.languages-group{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	  	box-shadow: 0px 0px 5px 0px rgba( 0, 3, 6, .11 );
	  	border-radius: 10px;

	}
	.languages-group a{
		color: #37a930;
		border: 1px solid #e8e8e8;
		border-radius: 0px;
		padding: 0;
		line-height: 40px;
		min-width: 60px;
		text-align: center;
		text-decoration: none;
	}
	.languages-group a.active{
		color: #383838;
		cursor: default;
	}
	.languages-group a{
		/*border-left: 0;*/
		border-right: 0;
		border-radius: 0;
	}
	.languages-group a:nth-child(1){
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	.languages-group a:last-child{
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.treat{
		padding-left: 0;
	}
}
@media (min-width: 1200px){
	.container {
	    max-width: 1180px;
	}
	.ik1:after, .ik6:after, .ik11:after, .ik16:after{
		left: 35px;
	}
	.ik2:after, .ik7:after, .ik12:after, .ik17:after{
		left: 315px;
	}
	.ik3:after, .ik8:after, .ik13:after, .ik18:after{
		left: 565px;
	}
	.ik4:after, .ik9:after, .ik14:after, .ik19:after{
		left: 805px;
	}
	.ik5:after, .ik10:after, .ik15:after, .ik20:after{
		left: 1015px;
	}
	.category-main .category-main-item:nth-child(1), .category-main .category-main-item:nth-child(3),
	.category-main .category-main-item:nth-child(5), .category-main .category-main-item:nth-child(7),
	.category-main .category-main-item:nth-child(9){
		order: -20;
	}
	.ik1,.ik2,.ik3,.ik4,.ik5{
		order: -19;
	}
	.category-main .category-main-item:nth-child(11), .category-main .category-main-item:nth-child(13),
	.category-main .category-main-item:nth-child(15), .category-main .category-main-item:nth-child(17),
	.category-main .category-main-item:nth-child(19){
		order: -18;
	}
	.ik6,.ik7,.ik8,.ik9,.ik10{
		order: -17;
	}
	.category-main .category-main-item:nth-child(21), .category-main .category-main-item:nth-child(23),
	.category-main .category-main-item:nth-child(25), .category-main .category-main-item:nth-child(27),
	.category-main .category-main-item:nth-child(29){
		order: -16;
	}
	.ik11,.ik12,.ik13,.ik14,.ik15{
		order: -15;
	}
	.category-main .category-main-item:nth-child(31), .category-main .category-main-item:nth-child(33),
	.category-main .category-main-item:nth-child(35), .category-main .category-main-item:nth-child(37),
	.category-main .category-main-item:nth-child(39){
		order: -14;
	}
	.ik16,.ik17,.ik18,.ik19,.ik20{
		order: -13;
	}
}
@media (min-width: 1024px) and (max-width: 1199px){
	.category-main .category-main-item:nth-child(1), .category-main .category-main-item:nth-child(3),
	.category-main .category-main-item:nth-child(5), .category-main .category-main-item:nth-child(7){
		order: -20;
	}
	.ik1,.ik2,.ik3,.ik4{
		order: -19;
	}
	.category-main .category-main-item:nth-child(9), .category-main .category-main-item:nth-child(11),
	.category-main .category-main-item:nth-child(13), .category-main .category-main-item:nth-child(15){
		order: -18;
	}
	.ik5,.ik6,.ik7,.ik8{
		order: -17;
	}
	.category-main .category-main-item:nth-child(17), .category-main .category-main-item:nth-child(19),
	.category-main .category-main-item:nth-child(21), .category-main .category-main-item:nth-child(23){
		order: -16;
	}
	.ik9,.ik10,.ik11,.ik12{
		order: -15;
	}
	.category-main .category-main-item:nth-child(17), .category-main .category-main-item:nth-child(19),
	.category-main .category-main-item:nth-child(21), .category-main .category-main-item:nth-child(23){
		order: -16;
	}
	.ik9,.ik10,.ik11,.ik12{
		order: -15;
	}
	.category-main .category-main-item:nth-child(25), .category-main .category-main-item:nth-child(27),
	.category-main .category-main-item:nth-child(29), .category-main .category-main-item:nth-child(31){
		order: -14;
	}
	.ik13,.ik14,.ik15,.ik16{
		order: -13;
	}
	.category-main .category-main-item:nth-child(33), .category-main .category-main-item:nth-child(35),
	.category-main .category-main-item:nth-child(37), .category-main .category-main-item:nth-child(39){
		order: -12;
	}
	.ik17,.ik18,.ik19,.ik20{
		order: -11;
	}
	.ik1:after, .ik5:after, .ik9:after, .ik13:after, .ik17:after{
		left: 100px;
	}
	.ik2:after, .ik6:after, .ik10:after, .ik14:after, .ik18:after{
		left: 360px;
	}
	.ik3:after, .ik7:after, .ik11:after, .ik15:after, .ik19:after{
		left: 620px;
	}
	.ik4:after, .ik8:after, .ik12:after, .ik16:after, .ik20:after{
	    left: auto;
		right: 115px;
	}
}


@media (max-width: 1199px){
	.container {
	    max-width: 960px;
	}
	section{
		overflow: hidden;
	}
	section.main-slider .swiper-slide .container{
		padding-right: 10%;
	}
	section.main-slider .swiper-slide .container .main-content-slider{
		padding-left: 60px;
	}
	.step-item{
		background-position: right 0px top 43%;
	}
	.category-main-item, .category-main .category-main-item:nth-child(10n+9){
		width: 24%;
		margin-right: calc(4%/3);
	}
	.category-main .category-main-item:nth-child(8n+7){
		margin-right: 0;
	}
	section.select-category .container{
		padding-left: 15px;
		padding-right: 15px;
	}
	.number-ftr{
		font-size: 16px;
	}
	a.logo-ftr img{
		max-width: 100%;
	}
	.sorted-two{
		padding-bottom: 180px;
	}
	.sorted-two p.important-text{
		height: 180px;
	}
	.width-btn{
		flex: 0 0 auto;
		padding: 20px;
	}
	.similar-ads.pagination-styles .swiper-button-next{
		right: -30px;
	}
	.similar-ads.pagination-styles .swiper-button-prev{
		left: -30px;
	}
	section.not-found h1{
		font-size: 400px;
	}
	.messages{
		padding-left: 0;
		padding-right: 0;
	}
	.fda-rew{
		justify-content: flex-end;
	}
	
	.category-item-product a{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.category-item-product .item-product-img{
		position: absolute;
		left: 0;
		height: 200px;
	}
	.category-item-product-left{
		padding-left: 215px;
	}
	.category-item-product-left .discount{
		margin-right: 25px;
	}
	.category-item-product-right{
		padding: 0 20px 30px;
		flex: 0 0 auto;
	}
	.main-category-items span.star-item{
		bottom: auto;
		top: 145px;
	}
	.cat-reviews{
		max-width: 45%;
		float: left;
	}
	.cat-reviews+.cat-reviews{
		margin-left: 10%;
	}
	.sorted a{
		padding: 0 15px;
	}
	.history-body{
		padding: 0 15px;
	}
	.history-body-item>div, .history-title>div{
		padding: 0 10px;
	}
	.ascii-dot{
		margin: 0 10px;
	}
	.history-title{
		padding: 0;
	}
	.puy-tab-person{
		padding: 0 15px;
	}
	.tab-my-ads{
		padding: 0 15px;
	}
	section.personal-area .block-main-user{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	section.personal-area .about-main-user{
		max-width: calc(100% - 280px);
	}
	section.personal-area .about-main-user-right{
		flex: 0 0 100%;
		margin-top: 20px;
	}
	.tab-my-ads .row{
		margin-left: -15px;
		margin-right: -15px;
	}
	.category-item-product-right p{
		height: auto;
		overflow: visible;
		display: block;
	}
	a.entor-to-site{
		margin-left: 15px;
	}
	header a.btn-template{
		margin-left: 15px;
	}
	header a.btn-template:after, header a.entor-to-site:after{
		display: none;
	}
	.sorted span{
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 1023px){
	.category-main-item, .category-main-item:nth-child(5n), .category-main-item:nth-child(4n),
	.category-main-item, .category-main .category-main-item:nth-child(10n+9), .category-main .category-main-item:nth-child(8n+7),
	.category-main-item:nth-child(4n+5){
		width: 32%;
		margin-right: 2%;
		margin-bottom: 2%;
	}
	body .category-main .category-main-item:nth-child(3n+5){
		margin-right: 0;
	}
	.category-main .category-main-item:nth-child(1), .category-main .category-main-item:nth-child(3),
	.category-main .category-main-item:nth-child(5){
		order: -20;
	}
	.ik1,.ik2,.ik3{
		order: -19;
	}
	.category-main .category-main-item:nth-child(7), .category-main .category-main-item:nth-child(9),
	.category-main .category-main-item:nth-child(11){
		order: -18;
	}
	.ik4,.ik5,.ik6{
		order: -17;
	}
	.category-main .category-main-item:nth-child(13), .category-main .category-main-item:nth-child(15),
	.category-main .category-main-item:nth-child(17){
		order: -16;
	}
	.ik7,.ik8,.ik9{
		order: -15;
	}
	.category-main .category-main-item:nth-child(19), .category-main .category-main-item:nth-child(21),
	.category-main .category-main-item:nth-child(23){
		order: -14;
	}
	.ik10,.ik11,.ik12{
		order: -13;
	}
	.category-main .category-main-item:nth-child(25), .category-main .category-main-item:nth-child(27),
	.category-main .category-main-item:nth-child(29){
		order: -12;
	}
	.ik13,.ik14,.ik15{
		order: -11;
	}
	.category-main .category-main-item:nth-child(31), .category-main .category-main-item:nth-child(33),
	.category-main .category-main-item:nth-child(35){
		order: -10;
	}
	.ik16,.ik17,.ik18{
		order: -9;
	}
	.category-main .category-main-item:nth-child(37), .category-main .category-main-item:nth-child(39){
		order: -8;
	}
	.ik19,.ik20{
		order: -7;
	}
	.ik1:after, .ik4:after, .ik7:after, .ik10:after, .ik13:after, .ik16:after, .ik19:after{
		left: 70px;
	}
	.ik2:after, .ik5:after, .ik8:after, .ik11:after, .ik14:after, .ik17:after, .ik20:after{
		left: 350px;
	}
	.ik3:after, .ik6:after, .ik9:after, .ik12:after, .ik15:after, .ik18:after{
		left: auto;
		right: 120px;
	}
	.select-category-popup a{
		max-width: 30%;
	}

}
@media (max-width: 1023px){
	.container {
	    max-width: 720px;
	}
	.step-item div{
		width: 100px;
		height: 100px;
	}
	
	.item-product-img img{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	.swiper-news .swiper-slide{
		width: 350px;
	}
	.ftr-bottom{
		text-align: center;
	}
	.ftr-top .privacy-policy{
		display: block;
	}
	.ftr-bottom p{
		margin-bottom: 5px;
	}
	.ftr-bottom span{
		display: block;
		margin-bottom: 5px;
	}
	.ftr-bottom a{
		display: inline-block;
		margin-bottom: 5px;
	}
	header a.btn-template{
		font-size: 0;
		border-radius: 50%;
		background: #37a930 url(../images/plus.png) no-repeat center;
		background-size: 16px auto;
		width: 40px;
		max-width: 40px;
		margin: 0;
		padding: 0;
		margin-left: 10px;
		height: 40px;
		flex: 0 0 40px;
	}
	a.entor-to-site{
		margin-left: 10px;
	}
	header a.btn-template:hover{
		background: #37a930 url(../images/plus.png) no-repeat center;
		background-size: 16px auto;
	}
	.popup-style{
		padding: 30px !important;
	}
	.prem-vip-discount{
		min-width: 75px;
	}
	.title-drops .ad-2{
		line-height: 1;
	}
	.ad-1, .min-bord{
		max-width: 200px;
		flex: 0 0 200px;
	}
	div#purchase-service{
		max-width: 555px;
	}
	section.sample{
		padding-top: 10px;
	}
	.straw{
		order: -2;
	}
	.straw img{
		position: static;
		/*height: auto;*/
		max-width: inherit;
		margin-bottom: 25px;
		width: 100%;
	}
	.one-year .col-lg-6{
		margin-bottom: 20px;
	}
	.sorted-two p.important-text{
		height: auto;
		position: relative;
		margin-bottom: -30px;
		margin-left: -30px;
		margin-right: -30px;
		padding: 30px;
	}
	.sorted-two{
		padding-bottom: 30px;
	}
	.about-main-user-top{
		padding: 10px;
	}
	.about-main-user-bottom{
		padding: 10px;
	}
	section.not-found h1 {
	    font-size: 300px;
	    line-height: 1;
	}
	section.not-found h3{
		font-size: 40px;
	}
	.replenish-main .form-group:nth-child(3n+2), .replenish-main .form-group:nth-child(3n+3){
		padding-left: 20px;
	}
	.replenish-main-puy .form-group{
		height: 70px;
	}
	.chat-main{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.chat-main-left{
		margin-right: 0;
		margin-bottom: 20px;
	}
	.chat-main-left{
		max-width: 100%;
	}
	.attach a{
		padding: 0 5px;
	}
	span.multiple-photos{
		margin-right: 10px;
	}
	.treat{
		padding-left: 0;
		padding-top: 0;
	}
	.edit-item-body .form-group{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.inpt-min label{
		margin-bottom: 10px;
		flex: 0 0 100%;
	}
	.inpt-min label br{
		display: none;
	}
	.edit-item-body label{
		margin-bottom: 10px;
	}
	.edit-item-body .attach{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.main-list-of-required{
		padding-left: 0;
	}
	.edit-item-body .dropzone-body{
		margin-top: 20px;
		padding-bottom: 0;
	}
	.edit-item-body{
		padding-bottom: 30px;
	}
	.sorted span{
		display: none;
	}
	.sorted a {
	    padding: 0 3px;
	    font-size: 11px;
	}
	.category-item-product-left{
		padding-left: 0px;
	}
	.category-item-product-left h3{
		padding-left: 195px;
	}
	.category-item-product-left p{
		padding-left: 195px;
	}
	.category-item-product .item-product-img{
		width: 180px;
		height: 180px;
	}
	.main-category-items span.star-item{
		top: 125px;
		left: 90px;
	}
	.category-item-product-left .discount{
		height: auto;
		padding-left: 195px;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.main-category-items .address-item-product{
		margin-top: 80px;
	}
	.cat-reviews+.cat-reviews{
		margin-left: 4%;
	}
	.cat-reviews{
		max-width: 48%;
	}
	.cat-reviews b{
		padding-right: 5px;
	}
	.personal-tab ul.nav.nav-tabs li a{
		font-size: 13px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		line-height: 1.4;
	}
	.operation-history{
		overflow-x: auto;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		padding: 10px 0;
	    /*min-height: 250px;*/
	}
	.history-title{
		margin: 0;
		height: auto;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.history-body{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

	}
	.history-body-item{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		height: auto;
	}
	.history-body-item>div, .history-title>div{
		flex: 0 0 25% !important;
		height: 70px;
		min-height: 70px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		white-space: nowrap;
	}
	.history-body-item{
		margin-top: 0;
		margin-right: 20px;
	}
	.greens img {
	    max-width: 50px;
	}
	.operation-history .prem-vip-discount{
		top: 10px;
	}
	.history-body-item>div:nth-child(2){
		border-top: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
	}
	.history-body-item>div:nth-child(4){
		border-top: 1px solid #e8e8e8;
	}
	.history-title>div{
		font-weight: 500;
	}
	.mob-back-chat{
		display: none;
	}
	.chat-main-right{
		display: none;
	}
	.visible-chat .chat-main-right{
		display: block;	
	}
	.visible-chat .chat-main-left{
		display: none;
	}
	.visible-chat .mob-back-chat{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
	}
	.mob-back-chat a{
		color: #37a930;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		text-decoration: none;
		align-items: center;
	}
	.mob-back-chat a svg{
		width: 10px;
		color: #37a930;
		fill: #37a930;
		margin-right: 7px;

	}
	.mob-back-chat img{
		width: 36px;
		height: 36px;
		object-position: center;
		object-fit: cover;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 10px;
	}
	.mob-back-chat span{
		font-weight: 500;
	}

}
@media (max-width: 767px){
	.container {
	    max-width: 540px;
	}
	body{
		padding-bottom: 60px;
	}
	header{
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		z-index: 99;
		padding-bottom: 20px;
		box-shadow: 0 0 4px rgba(1,1,1,.42);
	}

	.mob-language{
		position: relative;
		width: 65px;
	}
	.mob-language span{
		font-size: 14px;
		font-weight: 500;
		display: inline-block;
		width: 100%;
		text-align: center;
		padding-left: 7px;
		position: relative;
		border: 1px solid #37a930;
		border-radius: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		color: #37a930;
		padding-right: 17px;
	}
	.mob-language span:after{
	    content: '';
	    position: absolute;
	    right: 6px;
	    top: 8px;
	    width: 10px;
	    height: 10px;
	    background: url(../images/right-arrow-green.png) no-repeat top 0px right 0px;
	    background-size: contain;
	    transform: rotate(90deg);
	}
	.languages-group{
		display: inline-block;
		position: absolute;
	    top: 29px;
	    right: 0px;
	    display: block;
	    background: #fff;
	    width: 65px;
	    padding-top: 0px;
	    padding: 5px 10px;
	    z-index: 1;
	    border-radius: 5px;
	    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	    transition: all .45s;
	    opacity: 0;
	    pointer-events: none;
	    transform: translateY(-30px);
	}
	.mob-language.actived .languages-group{
		opacity: 1;
		pointer-events: auto;
		transform: translateY(6px);
	}
	.languages-group a{
		font-size: 14px;
	    font-weight: 500;
	    color: #898989;
		display: block;
	}

	header a.btn-template:after, header a.entor-to-site:after{
		display: none;
	}
	header .logo{
		position: relative;
		left: 0%;
		/*transform: translateX(-50%);*/
	}
	.hdr-bottom {
		margin-top: 17px;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
	}

	.hdr-bottom a.btn-template{
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, -50%);
		margin: 0;
		width: 50px;
		height: 50px;
		max-width: 50px;
	    background-size: 22px auto !important;
	}
	.hdr-bottom ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		max-width: 100%;
		overflow-x: auto;
		list-style: none;
		margin-bottom: 0;
		height: 60px;
		-ms-align-items: center;
		align-items: center;
		box-shadow:  0 0 5px rgba(1,1,1,.21);
		text-align: center;
		padding: 0px;
		justify-content: space-around;
	}
	.hdr-bottom ul li:last-child{
	}
	.hdr-bottom ul li{
		position: relative;
	}
	a.entor-to-site{
		font-size: 12px !important;
	    margin: 0;
	    border: 0;
	    padding: 0;
	    padding-top: 0px;
	    font-weight: 500;
	    line-height: 1;
        color: #898989 !important;
	}
	a.entor-to-site span{
		position: static;
		height: 16px;
		width: 16px;
		margin-bottom: 5px;
		background-size: contain;
	}
	.hdr-bottom ul li a{
		text-decoration: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.hdr-bottom ul li a svg{
		color: #898989;
		fill: #898989;
		width: 30px;
		height: 30px;
	}
	.hdr-bottom ul li a.active svg{
		color: #37a930;
		fill: #37a930;
	}

	.hdr-bottom ul li a span{
		font-size: 14px;
		font-weight: 500;
		color: #898989;
		line-height: 1;
		border-radius: 50%;
	}
	li.user-li a{
		font-size: 14px !important;
	}
	li.user-li span{
		width: 30px;
		height: 30px;
		margin-bottom: 0;
		border: 0 !important;
		box-shadow: none;
		border: 1px solid #898989 !important;
		background-size: 21px auto;
		border-radius: 50%;
	}
	li.user-li.no-user span{
		background: url(../images/avatar.png) no-repeat center !important;
	    background-size: 25px !important;
	    border: 0 !important;
	    border-radius: 0;
	}

	.hdr-bottom ul li a.active span{
		color: #37a930;
	}
	.hdr-bottom ul li a.active img:nth-child(1){
		display: none;
	}
	.form-search-mobile{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
	}
	.form-search-mobile a{
		color: #37a930;
		text-decoration: none;
		font-weight: 500;
		margin-right: 10px;
		display: inline-block;
		margin-left: 20px;
	}
	.form-sit{
		position: relative;
	}
	.form-sit input{
		width: 100%;
		border: 1px solid #e8e8e8;
		border-radius: 10px;
		height: 40px;
		color: #a2a2a2;
		font-weight: 400;
		padding-right: 45px;
	}
	a.entor-to-site:hover{
		box-shadow: none;
	}
	.form-sit button{
		display: inline-block;
		background-color: #fff;
		border: 0;
	    box-shadow: 0px 0px 5px 0px rgba( 0, 3, 6, .11 );
	    line-height: 40px;
	    width: 40px;
	    background-size: 17px auto;
	    background-position: center;
	    background-repeat: no-repeat;
	    height: 40px;
	    position: absolute;
	    right: -0px;
	    top: -0px;
	    border-radius: 10px;
	    bottom: -0px;
	    outline: none;
	}
	.container{
		padding-left: 10px;
		padding-right: 10px;
	}
	section.main-slider .swiper-slide .container{
		padding: 0px;
	}
	.row{
		margin-left: -10px;
		margin-right: -10px;
	}
	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, 
	.col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, 
	.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, 
	.col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, 
	.col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, 
	.col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, 
	.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, 
	.col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
		padding-left: 10px;
		padding-right: 10px;
	}
	section.main-slider .swiper-slide .container .main-content-slider{
		padding: 0 10px;
		border-radius: 0;
	}
	section.main-slider .swiper-slide{
		padding-top: 50px;
		min-height: 600px;
		padding-bottom: 150px;
	}
	section.main-slider .swiper-slide h1{
		font-size: 40px;
		text-align: center;
		padding-top: 30px;
		margin-bottom: 25px;
	}
	section.main-slider .swiper-slide p{
		text-align: center;
		font-size: 16px;
		line-height: 1.3;
		margin-bottom: 0;
	}
	form.form-search{
		display: none;
		padding: 10px;
		/*display: block;*/
		margin-top: 10px;
		padding-bottom: 1px;
	}
	form.form-search input{
		height: 30px;
		font-size: 13px;
	}
	.select2-style .select2-selection--single{
		height: 30px;
	}
	.select2-style .select2-selection__rendered {
	    line-height: 30px !important;
	}
	form.form-search .btn-template{
		height: 30px;
		line-height: 30px;
		margin-left: auto;
		margin-right: auto;
		font-size: 13px;
		display: block;
		max-width: 160px;
	}
	form.form-search .form-group:last-child{
		max-width: inherit;
	}
	form.form-search .form-group{
		margin-right: 0;
		margin-bottom: 10px;
		max-width: 48%;
	}
	form.form-search{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	section.main-slider.swiper-container-horizontal>.swiper-pagination-bullets, 
	section.main-slider .swiper-pagination-custom, section.main-slider .swiper-pagination-fraction{
		bottom: 0;
	}
	section.main-slider .swiper-button-prev, section.main-slider .swiper-container-rtl .swiper-button-next, 
	section.main-slider .swiper-button-next, section.main-slider .swiper-container-rtl .swiper-button-prev{
		top: auto;
		bottom: 25px;
		width: 50px;
		height: 50px;
	}
	section.main-slider .swiper-button-prev:hover, section.main-slider .swiper-container-rtl .swiper-button-next:hover, 
	section.main-slider .swiper-button-next:hover, section.main-slider .swiper-container-rtl .swiper-button-prev:hover{
		top: auto;
		bottom: 25px;
		width: 50px;
		height: 50px;
	}
	section.main-slider .swiper-slide a{
		transform: translateY(50%);
		margin-top: 0;
		width: 100%;
	}
	h2.title{
		font-size: 30px;
	}
	section.start-with-us{
		padding-top: 40px;
	}
	.step-item span{
		font-size: 14px;
	}
	.step-item div{
		width: 60px;
		height: 60px;
		background: none;
	}
	.step-item div img{
		max-width: 30px;
	}
	.step-item div:after{
		width: 12px;
		height: 12px;
		top: 43%;
		right: -36%;
		left: auto;
	    background: url(../images/right-arrow-orange.png) no-repeat center;
	    background-size: contain;
	}
	.step-item{
		background: none;
	}
	.step-item:nth-child(4) div:after{
		display: none;
	}
	.step-item p{
		font-size: 9px;
		word-wrap: break-word;
		display: inline-block;
		white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	    white-space: -pre-wrap;      /* Opera 4-6 */
	    white-space: -o-pre-wrap;    /* Opera 7 */
	    white-space: pre-wrap;       /* css-3 */
	    word-wrap: break-word;       /* Internet Explorer 5.5+ */
	    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
	    word-break: break-all;
	    white-space: normal;
	}
	.category-main-item, .category-main-item:nth-child(5n), .category-main-item:nth-child(4n){
		width: 49% !important;
		margin-bottom: 2%;
		margin-right: 0 !important;
		min-height: 65px;
		height: 65px;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-ms-align-items: center;
		align-items: center;
		padding: 10px;
		justify-content: flex-start;
	}
	.category-main{
		justify-content: space-between;
	}
	.category-main-item img{
		max-width: 30px;
		flex: 0 0 30px;
		margin-right: 12px;
	}
	.category-main-item p{
		font-size: 10px;
		white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	    white-space: -pre-wrap;      /* Opera 4-6 */
	    white-space: -o-pre-wrap;    /* Opera 7 */
	    white-space: pre-wrap;       /* css-3 */
	    word-wrap: break-word;       /* Internet Explorer 5.5+ */
	    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
	    word-break: break-all;
	    white-space: normal;
	    margin-top: 0;
	    line-height: 1.2;
	    text-align: left;
	}
	.sub-prime{
		height: 20px;
		line-height: 20px;
		font-size: 14px;
	}
	.sub-prime img{
		max-height: 12px;
		margin-right: 5px;
	}
	.item-product-img{
		height: 100px;
	}
	span.star-item{
		top: 70px;
	}
	span.star-item img{
		max-height: 20px;
	}
	.item-product h3{
		padding: 0 10px;
		font-size: 14px;
		margin-bottom: 10px;
	}
	.item-product a>p{
		padding: 0 10px;
		font-size: 12px;
		margin-bottom: 8px;
		height: 30px;
		line-height: 1.2;
	}
	.discount{
		height: auto;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
		padding: 8px 0;
	}
	.discount s{
		font-size: 12px;
	}
	.discount b{
		font-size: 16px;
	}
	.address-item-product{
		padding: 10px;
		margin: 0;
		margin-left: 10px;
		padding-left: 23px;
		background-size: 14px auto;
		font-size: 11px;
		line-height: 1.2;
		word-break: break-all;
	}
	.block-id-product{
		padding: 0 10px 8px 10px;
	}
	.block-id-product span{
		font-weight: 300;
		font-size: 12px;
	}
	section.premium-ads{
		padding-top: 40px;
		background: none;
	}
	section.trust-him{
		padding-top: 40px;
		background: url(../images/lines.jpg) no-repeat center top;
    	background-size: auto;
	}
	.row.has-item-product{
		margin-left: -7.5px;
		margin-right: -7.5px;
	}
	.row.has-item-product .col-lg-3.col-lg-4.col-6{
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
	.item-product{
		margin-bottom: 15px;
	}
	.reclama{
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
		height: 200px;
		-ms-align-items: center;
		align-items: center;
	}
	.reclama p{
		font-size: 30px;
		margin-top: 25px;
	}
	.reclama a{
		padding: 15px;
	}

	.reclama img{
		/*max-width: 170px;*/
		margin-bottom: 0;
	}
	section.news{
		background-size: auto 70%;
		padding-top: 40px;
	}
	section.news h2{
		margin-bottom: 20px;
	}
	.swiper-news .swiper-slide{
		width: 225px;
	}
	.for-swiper-container.container{
		padding-left: 0;
		padding-right: 0;
	}
	.swiper-news a p, .news-date{
		display: none;
	}
	.swiper-news a h3{
		padding: 10px;
		height: 55px;
		font-size: 12px;
		-webkit-line-clamp: 3;
	}
	section.news .swiper-button-next, section.news .swiper-container-rtl .swiper-button-prev,
	section.news .swiper-button-prev, section.news .swiper-container-rtl .swiper-button-next{
		display: none !important;
	}
	section.select-category:after{
		display: none;
	}
	section.select-category{
		background: #f2f2f2;
	}
	.ftr-top{
		text-align: center;
	}
	.ftr-top{
		padding-top: 20px;
		padding-bottom: 5px;
	}
	.logo-ftr{
		margin-bottom: 15px;
	}
	.border-mobile{
		border-bottom: 1px solid #fff;
		margin-bottom: 10px;
	}
	.guard{
		order: 5;
	}
	.number-ftr{
		font-size: 20px;
	}
	.ftr-bottom a.privacy-policy{
		margin-left: auto;
		margin-right: auto;
		font-size: 14px;
		text-underline-position: under;
		text-decoration: underline;
		margin-bottom: 10px;
		margin-top: 5px;
	}
	.ftr-bottom{
		padding-bottom: 10px;
	}
	.popup-style{
		padding: 25px 15px !important;
	}
	img.logo-popup-top{
		max-width: 165px;
		margin-bottom: 20px;
	}
	.fancybox-slide--html .popup-style .fancybox-close-small{
		right: 5px;
		top: 5px;
		padding: 5px;
	}
	.popup-style h2{
		font-size: 24px;
		margin-bottom: 10px;
	}
	.popup-style p{
		font-size: 14px;
	}
	.popup-style p br{
		display: none;
	}
	.checked-agree label{
		padding-left: 30px;
	}
	.checked-agree label:after{
		top: 4px;
	}
	.form-group.checked-agree a.link-popup{
		display: inline;
	}
	#captcha{
		min-width: 120px;
	}
	.popup-style h2 br{
		display: none;
	}
	div#purchase-service .btn-service{
		margin-top: 15px;
	}
	div#purchase-service .btn-service button{
		min-width: 100px;
	}
	div#purchase-service{
		padding-top: 40px;
	}
	.prem-vip-item{
		max-width: 100%;
		margin-bottom: 20px;
	}
	.prem-vip-img{
		height: 160px;
	}
	.prem-vip-img img {
	    height: 95px;
	}
	.prem-vip-date{
		height: 36px;
		line-height: 36px;
	}
	.prem-vip-item p{
		padding: 0 10px;
	}
	span.prem-vip-price{
		line-height: 36px;
		font-size: 20px;
	}
	div#send-complaint textarea{
		height: 140px;
	}
	.ad-1, .min-bord{
		min-width: 100px;
		flex: 0 0 100px;
		height: auto;
	}
	.ad-2{
		padding: 0 5px;
		height: auto;
		font-size: 12px;
		word-wrap: break-word;
	    display: inline-block;
	    white-space: -moz-pre-wrap !important;
	    white-space: -pre-wrap;
	    white-space: -o-pre-wrap;
	    white-space: pre-wrap;
	    word-wrap: break-word;
	    white-space: -webkit-pre-wrap;
	    word-break: break-all;
	    white-space: normal;
	    display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flex;
	    display: -o-flex;
	    display: flex;
	    -ms-align-items: center;
	    align-items: center;
	    justify-content: center;
	}
	.title-drops .ad-2{
		font-size: 12px;
		word-wrap: break-word;
	    display: inline-block;
	    white-space: -moz-pre-wrap !important;
	    white-space: -pre-wrap;
	    white-space: -o-pre-wrap;
	    white-space: pre-wrap;
	    word-wrap: break-word;
	    white-space: -webkit-pre-wrap;
	    word-break: break-all;
	    white-space: normal;
	    display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flex;
	    display: -o-flex;
	    display: flex;
	    -ms-align-items: center;
	    align-items: center;
	    justify-content: center;
	}
	.title-drops .ad-promo-button>div:first-child, .drops a .ad-promo-button>div:first-child{
		width: 25px;
		flex: 0 0 25px;
	}
	.popup-style #dropdownMenuButton{
		height: 80px;
		line-height: 80px;
		padding: 0 15px;
	}
	.popup-style #dropdownMenuButton img{
		width: 10px;
	}
	.drops{
		top: 81px;
	}
	section.sample h2{
		text-align: left;
		margin-bottom: 10px;
	}
	section.sample{
		padding-top: 30px;
	}
	.straw{
		min-height: inherit;
	}
	.straw iframe{
		height: 200px;
	}
	.straw img{
		height: 200px;
		margin-bottom: 10px;
	}
	.select-sort{
		padding: 10px;
	}
	.sorted-two p.important-text{
		margin: -10px;
		padding: 10px;
		margin-top: 0;
	}
	.table-sample thead th{
		font-size: 12px;
		padding: 5px;
	} 
	.table-sample td{
		font-size: 12px;
		vertical-align: middle;
		padding: 5px;
	}
	.growing .swiper-slide{
		width: 196px ;
		min-width: 200px;
		height: 140px;
	}
	.growing .new-slider-img{
		height: 140px;
	}
	.growing .container{
		padding: 0;
	}
	.sample-sun:after{
		display: none;
	}
	section.sample .sample-sun{
		border: 1px solid #37a930;
		border-radius: 10px;
		padding: 10px;
		padding-left: 30px;
	}
	.block-main-user{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		position: relative;
	}
	.width-btn{
		padding: 15px;
		border-top: 1px solid #e8e8e8;
	}
	.img-main-user{
		width: 125px;
		height: 125px;
		flex: 0 0 125px;
		background-size: 70px;
		min-height: inherit;
	}
	.about-main-user-top{
		padding: 15px;
		border-right: 0;
		border-bottom: 0;
	}
	.about-main-user h2{
		font-size: 16px;
	}
	.mob-abs-right>div{
		position: absolute;
		right: 15px;
		top: 15px;
		left: 140px;
	}
	.mob-abs-right{
		padding: 0;
		border-top: 0;
	}
	.about-main-user{
		border-right: 0;
	}
	.mob-abs-right p{
		font-size: 12px;
	}
	.block-main-user{
		margin-bottom: 0;
	}
	section.ads{
		padding-top: 20px;
	}
	section.similar-ads h2.title{
		/*font-size: 30px;*/
	}
	.gallery-top{
		height: 180px;
		flex: 0 0 calc(100% - 80px);
	}
	.ads-container{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	.gallery-thumbs{
		flex: 0 0 70px;
		padding: 0;
		width: 100%;
	}
	.gallery-thumbs .swiper-slide{
		width: 100%;
	}
	.ads-container-bottom{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding: 0;
		width: 100%;
	}
	.ads-container-bottom .address-item-product{
		width: 100%;
		background-position: center left 15px;
		padding-left: 35px;
		border-bottom: 1px solid #e8e8e8;
	}
	.ads-container-bottom .block-id-product{
		width: 100%;
		padding: 15px;
		-webkit-flex-direction: row-reverse;
		-moz-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		-o-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.ads-container-bottom span{
		margin-left: 0;
	}
	.ads-container-bottom .address-item-product br{
		display: none;
	}
	.ads-right h4{
		line-height: 50px;
	}
	.ads-user{
		padding: 15px;
	}
	.ads-user .link-template-img{
		padding: 0;
		padding-left: 30px;
	}
	.img-avatar{
		margin-left: -15px;
		height: 90px;
	    width: 90px;
	    flex: 0 0 90px;
	}
	.top-link-reuters p{
		margin-bottom: 15px;
	}
	.top-link-reuters{
		padding-left: 15px;
	}
	section.similar-ads .item-product{
		margin-bottom: 0;
	}
	section.similar-ads h2.title{
		margin-bottom: 15px;
	}
	.similar-ads.pagination-styles .swiper-button-next, .similar-ads.pagination-styles .swiper-button-prev{
		height: 40px;
	    width: 40px;
	    position: static;
	    background: transparent;
	    padding: 10px;
	    transform: none;
	}
	.similar-ads.pagination-styles .swiper-button-next svg, .similar-ads.pagination-styles .swiper-button-prev svg{
	    color: #37a930;
	    fill: #37a930;
	}
	.similar-ads .swiper-pagination-bullet {
      opacity: 1;
      outline: none;
      background: transparent;
      height: 40px;
	    width: 40px;
	    text-align: center;
	    display: inline-block;
	    padding: 0;
	    line-height: 40px;
	    margin: 0 5px;
	    border: 1px solid #ebebeb;
	    box-shadow: 0 0 2px rgba(235,235,235,.41);
	    border-radius: 10px !important;
	    overflow: hidden;
	    font-weight: bold;
	    color: #37a930;
    }
    .similar-ads.pagination-styles .swiper-button-prev{
    	order: -5;
    }
    .similar-ads .swiper-pagination-bullet-active {
      color: #aeaeae;
      background: transparent;
    }
    .similar-ads .swiper-pagination{
    	bottom: 40px;
    	left: 0;
    	right: 0;
    	display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	display: -o-flex;
    	display: flex;
    	-ms-align-items: center;
    	align-items: center;
    	justify-content: center;
    }
    section.similar-ads{
    	padding-bottom: 100px;
    }
    section.not-found{
    	padding-top: 35px;
    }
    section.not-found h3{
    	font-size: 30px;
    }
    section.not-found p{
    	font-size: 12px;
    	padding: 0 15px;
    	line-height: 1.4;
    }
    section.not-found h1{
    	font-size: 150px;
    }
    section.replenish h2.title{
    	margin-bottom: 15px;
    }
    .replenish-main{
    	padding: 10px;
    }
    .replenish-main .form-group{
    	border: 0;
    	flex: 0 0 100%;
    }
    .replenish-main .form-group:nth-child(3n+2), .replenish-main .form-group:nth-child(3n+3){
    	padding-left: 0;
    	flex: 0 0 100%;
    	border: 0;
    }
    .radio-style label{
    	padding-bottom: 15px;
    }
    .replenish-main-puy{
    	-webkit-flex-direction: column;
    	-moz-flex-direction: column;
    	-ms-flex-direction: column;
    	-o-flex-direction: column;
    	flex-direction: column;
    	padding: 12px;
    }
    .replenish-main-puy .form-group{
    	height: 110px;
    	margin-bottom: 20px;
    }
    section.replenish{
    	padding-bottom: 40px;
    }
    span.select2.select2-container.select2-container--default{
    	width: 100% !important;
    }
    .item-chat>a{
    	padding: 15px;
    	padding-right: 22px;
    }
    .img-chat-user{
    	margin-right: 10px;	
    	width: 60px;
    	height: 60px;
    	flex: 0 0 60px;
    }
    .text-chat-user h3{
    	margin-bottom: 10px;
    }
    .text-chat-user p{
    	margin-bottom: 10px;
    }
    .text-chat-user span{
    	font-size: 14px;
    }
    .messages::-webkit-scrollbar {
	    width: 6px;
	}
	.messages{
		padding-left: 0;
		padding-right: 15px;
	}
	.chat-main-right{
		padding: 15px;
		padding-right: 0;
	}
	.person-left{
		max-width: 100%;
	}
	.person-right{
		max-width: 100%;
	}
	.person-right .img-chat-user{
		margin-left: 15px;
	}
	.person-left.user-letter p:after{
	    left: -20px;
	    border-width: 0px 0px 30px 40px;
	}
	.user-letter p{
		padding: 10px;
		font-size: 12px;
	}
	.person-right.user-letter p:after{
		border-width: 40px 0px 0px 40px;
		right: -20px;
	}
	.date-letter{
		margin-bottom: 15px;
	}
	.inputs-chat{
		margin: -20px;
		margin-top: 0;
		margin-right: 0;
		min-height: 55px;
	}
	.inputs-chat label{
		width: 40px;
		height: 55px;
		margin: 0;
		padding: 15px;
	}
	.inputs-chat textarea{
		font-size: 12px;
	}
	.inputs-chat button{
		margin-right: 0;
	}
	
	.create-select-style label, .create-input-style label{
		flex: 0 0 100%;
		margin-bottom: 8px;
	}
	.create-select-style label br, .create-input-style label br{
		display: none;
	}
	.create-select-style, .create-input-style{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	section.creating-ads form{
		padding: 12px;
	}
	section.creating-ads hr{
		margin-left: -12px;
		margin-right: -12px;
		width: auto;
	}
	.create-bottom-style label{
		margin-right: 0;
		flex: 0 0 100%;
		margin-bottom: 8px;
	}
	.create-bottom-style{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	.attach{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
		margin-bottom: 0;
	}
	.attach a{
		display: block;
		margin-top: 15px;
		width: 100%;
		text-align: center;
	}
	span.multiple-photos{
		margin-right: 0;
		white-space: normal;
		padding-right: 70px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		line-height: 1.3 !important;
		font-size: 13px;
	}
	.attach label{
		margin-bottom: 8px;
	}
	.attach label br{
		display: none;
	}
	div#previews{
		margin-top: 10px;
	}
	.file-row.dz-image-preview{
		max-width: 30%;
		width: 100%;
		margin-right: 0;
	}
	div#previews .file-row.dz-image-preview:nth-child(3n+2){
		margin-left: 5%;
		margin-right: 5%;
	}
	span.preview{
		width: 100%;
		height: 100%;
		margin-bottom: 0;
	}
	div#previews p.name{
		font-size: 10px;
	}
	.title-edit{
		padding: 0 15px;
	}
	.edit-item-body{
		padding: 15px;
	}
	.edit-item-body .input-social .form-group{
		-webkit-flex-wrap: nowrap;
		-moz-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		-o-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	.input-social svg{
		width: 25px;
		height: 25px;
		margin-top: 10px;
	}
	.edit-item-body .form-group.radio-style{
		margin-bottom: 0;
	}
	.edit-item-body .btn-template{
		width: 100%;
	}
	.attach a{
		margin-bottom: 15px;
	}
	.attach label br{
		display: none;
	}
	.attach label{
		width: 100%;
	}
	.title-edit{
		height: 50px;
		line-height: 1.2;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}
	.edit-item-body .table{
		font-size: 12px;
		margin-bottom: 0;
	}
	.main-list-of-required p{
		font-size: 14px;
	}
	section.subcategory .reclama{
		/*min-height: 300px;*/
	}
	.category-body-right{
		box-shadow: none;
	}
	.main-category-items{
		padding: 0;
	}
	.category-item-product .item-product-img{
		width: 110px;
		height: 110px;
	}
	.main-category-items span.star-item{
		top: 75px;
		left: 55px;
	}
	.category-item-product.item-product h3{
		padding-left: 125px;
	}
	.category-item-product-left p{
		padding-left: 125px;
	}
	.category-item-product-left .discount{
		padding-left: 125px;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	.main-category-items .address-item-product{
		margin-top: 5px;
	}
	div .cat-reviews:nth-child(1) span{
		border: 0;
		background-color: transparent;
		color: #37a930;
		width: auto;
		white-space: nowrap;
	}
	div .cat-reviews:nth-child(2) span{
		border: 0;
		color: #37a930;
		width: auto;
		white-space: nowrap;
	}
	div .cat-reviews:nth-child(2){
		text-align: right;
		justify-content: flex-end;
	}
	.category-item-product-right{
		padding: 10px;
		padding-top: 0;
	}
	.cat-reviews{
		margin-bottom: 0;
		width: 100%;
		display: block;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}
	.cat-reviews b{
		font-size: 14px;
	}
	.category-item-product-right p{
		font-size: 12px;
	}
	.category-title.sorted{
		background-color: transparent;
		padding: 0;
		height: auto;
		border-bottom: 1px solid #eee;
		margin-bottom: 10px;
		padding-bottom: 5px;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.category-title.sorted>div{
		margin-bottom: 10px;
	}
	.sorted a{
		height: 30px;
		line-height: 30px;
		font-weight: 500;
		font-size: 13px;
	}
	.sorted a.active{
		border: 1px solid #383838;
	}
	.category-body{
		margin-top: 20px;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.category-body-left{
		/*display: none;*/
		flex: 0 0 100%;
		margin-right: 0;
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}
	.reclama.fixed-baner{
		display: none;
	}
	.category-body-left-in ul.categ{
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		/*top: 0;*/
		background: #fff;
		/*z-index: 8;*/
		border: 1px solid #eee;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		/*box-shadow: 0px 0px 5px 0px rgba( 0, 3, 6, .2 );*/
		/*margin-top: -2px;*/
	}
	.category-body-left-in{
		position: relative;
		z-index: 10;
	}
	.category-body-left-in .category-title{
		text-transform: uppercase;
		width: 100%;
		background-color: transparent;

	}
	.category-body-left-in .category-title:after{
		content: "";
		position: absolute;
		right: 0px;
		height: 50px;
		width: 50px;
		background: url(../images/right-arrow-green.png) no-repeat center;
		background-size: 8px auto;
		transition: all .3s;
	}
	.category-title.open:after{
		transform: rotate(90deg);
	}
	.category-item-product.item-product span.star-item img{
		max-height: 30px;
	}
	.not-product{
		box-shadow: 0px 0px 5px 0px rgba( 0, 3, 6, .2 );
    	border-radius: 10px;
	}
	.not-product svg {
	    width: 50px;
	    height: 50px;
	    margin-bottom: 10px;
	}
	.not-product p{
		font-weight: 700;
		font-size: 16px;
	}
	.not-product-cat .category-body-left-in ul.categ{
		position: relative;
	}
	section.personal-area .about-main-user{
		max-width: 100%;
	}
	section.personal-area form.img-main-user{
		width: 100%;
		max-width: 125px;
		flex: 0 0 125px;
	}
	form.img-main-user label {
	    font-size: 10px;
	    white-space: normal;
	    text-align: center;
	    text-decoration: none;
	    line-height: 1.2;
	}
	form.img-main-user label svg{
		margin-right: 0;
    	width: 22px;
    	height: 22px;
    	margin-left: 10px;
	}
	section.personal-area .mob-abs-right>.person-socials{
		position: static;
	}
	section.personal-area .about-main-user-top{
		/*padding-left: 0;*/
		padding: 12px;
		border: 1px solid #e8e8e8;
		border-top: 0;
		margin-top: -5px;
		border-radius: 0;
	}
	section.personal-area .about-main-user-bottom.mob-abs-right{
		padding: 12px;
		border: 1px solid #e8e8e8;
		border-top: 0;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		padding-bottom: 0;
	}
	section.personal-area .about-main-user{
		border-bottom: 0;
	}
	section.personal-area .about-main-user-right{
		padding-left: 0;
		max-width: 100%;
		margin-top: 0;
		width: 100%;
	}
	.person-socials{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.person-socials span{
		margin-bottom: 15px;
	}
	.ratings>div{
		margin-left: 15px;
	}
	.star-rating > span , .star-rating:before, .star-rating, .star-rating > span:before{
		height: 20px;
		width: 100px;
		background-size: 20px;
	}
	.star-rating > span{
		width: 100px;
	}
	.my-catalog-block a.btn-template.link-btn{
		padding: 0 10px;
	}
	.personal-tab ul.nav.nav-tabs{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding-bottom: 10px;
		overflow: visible;
	}
	.personal-tab ul.nav.nav-tabs li{
		flex: 0 0 100%;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 0;
	}
	.personal-tab .tab-content{
		padding: 0;
		box-shadow: none;
		max-height: inherit;
		overflow: visible;
	}
	.tab-my-ads{
		padding: 0;
	}
	.puy-tab-person{
		padding: 0;
	}
	.tab-my-ads .dropdown-menu{
		max-width: 100%;
	}
	.tab-my-ads .dropdown-item{
		padding-left: 20px;
		font-size: 13px;
		line-height: 1.2;
		word-break: break-all;
	}
	.tab-my-ads .dropdown-item:after{
		width: 15px;
	}
	.table-sample tbody{
		min-width: 150%;
	}
	.emmet-title{
		margin-top: 20px;
		line-height: 40px;
		font-size: 16px;
	}
	.tab-my-ads .row {
	    margin-left: -10px;
	    margin-right: -10px;
	}
	section.persen-second a.img-main-user{
		/*flex: 0 0 100%;
		width: 100%;
		height: 100%;*/
		height: 125px;
    	flex: 0 0 125px;
	}
	.mboard .link-template-img, .mboard a.writed{
		line-height: 1.2;
		height: 50px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}
	.category-main .category-main-item:nth-child(1), .category-main .category-main-item:nth-child(3){
		order: -40;
	}
	.ik1,.ik2{
		order: -39;
	}
	.category-main .category-main-item:nth-child(5), .category-main .category-main-item:nth-child(7){
		order: -38;
	}
	.ik3,.ik4{
		order: -37;
	}



	.category-main .category-main-item:nth-child(9), .category-main .category-main-item:nth-child(11){
		order: -36;
	}
	.ik5,.ik6{
		order: -35;
	}

	.category-main .category-main-item:nth-child(13), .category-main .category-main-item:nth-child(15){
		order: -34;
	}
	.ik7,.ik8{
		order: -33;
	}

	.category-main .category-main-item:nth-child(17), .category-main .category-main-item:nth-child(19){
		order: -32;
	}
	.ik9,.ik10{
		order: -31;
	}

	.category-main .category-main-item:nth-child(21), .category-main .category-main-item:nth-child(23){
		order: -30;
	}
	.ik11,.ik12{
		order: -29;
	}

	.category-main .category-main-item:nth-child(25), .category-main .category-main-item:nth-child(27){
		order: -28;
	}
	.ik13,.ik14{
		order: -27;
	}

	.category-main .category-main-item:nth-child(29), .category-main .category-main-item:nth-child(31){
		order: -26;
	}
	.ik15,.ik16{
		order: -25;
	}

	.category-main .category-main-item:nth-child(33), .category-main .category-main-item:nth-child(35){
		order: -24;
	}
	.ik17, .ik18{
		order: -23;
	}

	.category-main .category-main-item:nth-child(37), .category-main .category-main-item:nth-child(39){
		order: -22;
	}
	.ik19,.ik20{
		order: -21;
	}
	.ik1:after, .ik3:after, .ik5:after, .ik7:after, .ik9:after, .ik11:after, .ik13:after, .ik15:after, .ik17:after,
	 .ik19:after{
		left: 65px;
	}
	.ik2:after, .ik4:after, .ik6:after, .ik8:after, .ik10:after, .ik12:after, .ik14:after, .ik16:after, .ik18:after, .ik20:after{
		right: 65px;
		left: auto;
	}
	.select-category-popup:after{
	    width: 11px;
    	height: 11px;
    	top: -6.5px;
	}
	.select-category-popup{
		height: auto;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		justify-content: space-between;
	}
	.select-category-popup a{
		max-width: 50%;
		margin-right: 0;
		padding-left: 20px;
		font-size: 13px;
	}
	.select-category-popup a:after{
		width: 10px;
		height: 2px;
		top: 13px;
	}
	.item-product .address-item-product{
		height: 37px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	section.swiper-news.my-new-sect .row a{
		margin-bottom: 15px;
	}
	.new-slider-img{
		height: 160px;
	}
	li.user-li.no-user a.entor-to-site{
		display: none !important;
	}
	li.user-li.no-user a{
	    color: #898989;
	}
}

@media (max-width: 350px){
	.category-main-item p{
		font-size: 11px;
	}
	.category-main-item img{
		margin-right: 10px;
	}
	.block-id-product span{
		font-size: 10px;
	}
	.step-item div:after{
		right: -29%;
	}
	#captcha{
		min-width: 102px;
		padding: 0 15px;
	}
	section.not-found h1{
    	font-size: 120px;
    }
    .mboard .link-template-img, .mboard a.writed{
    	font-size: 14px;
    }
    a.writed{
    	margin-right: 10px;
    }
}



















